.header-banner {
    background-image: url('Screenshot\ 2023-11-15\ 210949.png'); /* Make sure the path is correct */
    background-size: contain; /* This will make sure the entire image is visible */
    background-position: center center; /* This will center the image in the available space */
    background-repeat: no-repeat;
    height: 300px; /* Adjust the height as needed */
    width: 100%; /* Ensure the width is set to cover the entire container width */
}
header {
    padding: 10px 0; /* Reduces the padding inside the header, adjust the values as needed */
}

/* If you have specific elements inside the header you want to adjust, you can target them specifically */
.header-element-class {
    margin-top: 0; /* Adjust the margin to reduce space */
}



  
.nav-link:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
    border-radius: 4px; /* Rounded corners for a softer look */
}

.list-item::before {
    content: url('path_to_icon.png'); /* Replace with your icon path */
    display: inline-block;
    margin-right: 8px;
}

.list-item {
    transition: color 0.3s;
}

.list-item:hover {
    color: blue; /* Or any other color from your design */
}
